<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<integer>9</integer>
	<key>AppleID</key>
	<string></string>
	<key>AboutURL</key>
	<string>https://xthang.xyz/games/bird/about.html</string>
	<key>ShareURL</key>
	<string>https://bit.ly/x-bird</string>
	<key>KeychainAccessGroup</key>
	<string>378Y5XR992.x.group</string>
	<key>KeychainIdService</key>
	<string>x.id</string>
	<key>KeychainDeviceIdKey</key>
	<string>deviceID</string>
	<key>KeychainXUserIdKey</key>
	<string>xUserID</string>
	<key>GameCenter</key>
	<dict>
		<key>Leaderboards</key>
		<dict>
			<key>All</key>
			<string>all_players</string>
		</dict>
		<key>Achievements</key>
		<dict>
			<key>Score100</key>
			<string>score_100</string>
		</dict>
	</dict>
	<key>GADUnits</key>
	<dict>
		<key>Banner</key>
		<string>ca-app-pub-1972425075859992/6979113415</string>
		<key>Banner_TEST</key>
		<string>ca-app-pub-3940256099942544/2934735716</string>
		<key>Interstitial</key>
		<string>ca-app-pub-1972425075859992/1986657096</string>
		<key>Interstitial_TEST</key>
		<string>ca-app-pub-3940256099942544/4411468910</string>
	</dict>
	<key>GADTestDevices</key>
	<array>
		<dict>
			<key>id</key>
			<string>bb636608accfc2f57c1342d532f5a39c</string>
			<key>comment</key>
			<string>xPhone</string>
		</dict>
		<dict>
			<key>id</key>
			<string>75065d4b54875b5f68454ef1ab938e74</string>
			<key>comment</key>
			<string>xPad</string>
		</dict>
	</array>
	<key>UnityAppID</key>
	<string></string>
	<key>UnityGameID</key>
	<string></string>
	<key>UnityAdEnabled</key>
	<true/>
	<key>UnityAdUnits</key>
	<dict>
		<key>Banner</key>
		<string>Banner_iOS</string>
		<key>Interstitial</key>
		<string>Interstitial_iOS</string>
	</dict>
</dict>
</plist>
