<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fontName</key>
	<string>6pxbus</string>
	<key>fontSizePercent</key>
	<real>0.02</real>
	<key>textColor</key>
	<string>2A4D69</string>
	<key>backgroundColor</key>
	<dict>
		<key>red</key>
		<integer>26</integer>
		<key>green</key>
		<integer>26</integer>
		<key>blue</key>
		<integer>26</integer>
	</dict>
	<key>popupStyle</key>
	<string>style2</string>
	<key>popupBackgroundColor</key>
	<string>f0f0f0</string>
	<key>popupCornerRadiusRatio</key>
	<real>0.1</real>
	<key>popupShadowRadius</key>
	<integer>20</integer>
	<key>popupShadowColor</key>
	<string>0</string>
	<key>buttonLayout</key>
	<string>style2</string>
	<key>buttonHeight</key>
	<integer>70</integer>
	<key>buttonBackgroundColor</key>
	<string>e5e5e5</string>
	<key>buttonBackgroundImage</key>
	<string>button</string>
	<key>buttonTextColor</key>
	<string>4B86B4</string>
	<key>buttonPrimary1BackgroundColor</key>
	<string>black</string>
	<key>buttonPrimary1BackgroundImage</key>
	<string>button_primary1</string>
	<key>buttonPrimary1TextColor</key>
	<string>ffffff</string>
	<key>buttonHighlightedBackgroundColor</key>
	<string>2ab7ca</string>
	<key>buttonHighlightedBackgroundImage</key>
	<string>button_pressed</string>
	<key>buttonHighlightedTextColor</key>
	<string>ffffff</string>
	<key>buttonDisabledBackgroundColor</key>
	<string>b3cde0</string>
	<key>buttonDisabledBackgroundImage</key>
	<string></string>
	<key>buttonDisabledTextColor</key>
	<string></string>
	<key>buttonCornerRadiusRatio</key>
	<real>0.5</real>
	<key>buttonShadowRadius</key>
	<integer>3</integer>
	<key>buttonShadowColor</key>
	<string>1492FF</string>
	<key>snackbarFont</key>
	<string>6pxbus</string>
	<key>snackbarFontSize</key>
	<integer>15</integer>
</dict>
</plist>
